@{
    ViewBag.Title = "Contact Details";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        Bhiwandi,<br />
        Maharashtra-421302<br />
    </address>

    <address>
        <strong>E-Mail:</strong>   <a href="mailto:sakshaikh48@gmail.com">sakshaikh48@gmail.com</a><br />
        <strong>Contact No:</strong> <a href="+917507153507">+917507153507</a>
    </address>
</main>